{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %}Logowanie{% endblock %}
{% block strona %}
<i class="fa-solid fa-user"></i>



<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Zaloguj się</h5>
    <form method="post">

        {% csrf_token %}
        {{form|bootstrap}}
        <button class="btn btn-primary" type="submit">Zaloguj <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
    </form>
  </div>
</div>
{% endblock %}